.btn-primary {
    background-color: #E5CFF7;
    color: #5B0888;
}

.btn-primary:hover {
    background-color: #5B0888;
    color: #E5CFF7;
}

.btn-secondary {
    background-color: #5B0888;
    color: #E5CFF7;
}

.btn-secondary:hover {
    transform: scale(1.30); 
    transition: transform 0.3s ease-in-out;
}

.btn-custom {
    background-color: #5B0888; 
    color: #E5CFF7;
    border-color: #713ABE;
}

.btn-custom:hover {
    background-color: #E5CFF7;
    color: #5B0888;
    transform: scale(1.20); 
    transition: transform 0.3s ease-in-out;
}

.btn-custom:active {
    background-color:#9D76C1;

}
.btn-custom:focus {
    background-color:#9D76C1;
}

.btn-dark:hover {
    transform: scale(1.20); 
    transition: transform 0.3s ease-in-out;
}

.btn-light:hover {
    transform: scale(1.20); 
    transition: transform 0.3s ease-in-out;
}

.lead {
    color: #E5CFF7;
}

.lead:hover {
    color: #9D76C1;
}

body {
    background: linear-gradient(180deg, #5B0888, black);
}

.text_light {
    color: #E5CFF7;
}

.text_dark {
    color: #5B0888;
}

.text_semilight {
    color: #9D76C1;
}

.text_semidark {
    color: #713ABE;
}

.back_light {
    background-color: #E5CFF7;
}

.back_semilight {
    background-color: #9D76C1;
}

.back_dark {
    background-color: #5B0888;
}

.back_semidark {
    background-color: #713ABE;
}

.inverted {
    background-color: white;
    color: darkblue;
}

.resume-section {
    padding: 50px 0;
}

.footer {
    background-color: white;
    color: darkblue;
    padding: 20px 0;
    text-align: center;
}

.social-icons li {
    display: inline-block;
    margin: 0 5px;
}

.social-icons li a {
    color: white;
    font-size: 20px;
}

.accordion-button.collapsed {
    background-color: #713ABE;
    color: #E5CFF7;
}

.accordion-button:not(.collapsed) {
    background-color: #E5CFF7;
    color: #5B0888;
}

.mainbox:hover {
    color: #5B0888;
    transform: scale(1.05); 
    transition: transform 0.3s ease-in-out;
}

.container_flex {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a varias líneas */
    width: 100vw; /* Ancho del contenedor igual al viewport */
    height: 100vh; /* Alto del contenedor igual al viewport */
}

.item {
    flex: 1 0 50%; /* Cada elemento tomará el 50% del ancho disponible */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total del elemento */
    padding: 20px; /* Espacio interno alrededor del contenido del elemento */
    text-align: center; /* Centra el texto dentro del elemento */
    border: 0;
}

@media (max-width: 600px) {
    .item {
         flex-basis: 100%; /* Hace que cada elemento tome el 100% del ancho disponible en pantallas pequeñas */
     }
 }